body{
  background-color: #333333;
}
li{
  color: purple;
  font-size: large;
}
h1{
  text-align: center;
  color: magenta;
  background: cyan;
}
h2{
  color: magenta;
  background: cyan;
  outline: 2px solid yellow;
}
h3{
  color: cyan;
  padding: 10px;
}
ol{
  background-color: grey;
  margin: 20px;
  width: 300px;
}
ul{
  background-color: grey;
  margin: 20px;
  width: 300px;
}
a{
  color: #e6e6e6;
}
div.BandText{
  max-width: 600px;
  color: #cccccc;
}
span.mission{
  font-style: italic;
  color: purple;
  font-size: x-large
}
span.warning{
  color: yellow;
  font-style: oblique;
  font-weight: bold;
}

img.magic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px -1px 5px;
}
footer{
  text-align: center;
  font-size: small;
  color: white;
}
abbr{
  color: #ff99ff;
}